@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  direction: ltr;
  /* box-sizing: border-box; */
}

body {
  font-family: "Cairo", sans-serif;
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/Car-news.png");
  background-size: cover;
  background-position: center;
  /* filter:contrast(-40.68%);
  -webkit-filter:contrast(-40.68%); */
}
.navbar {
  position: absolute;
  margin: 20px auto;
  /* background-color: transparent; */

  /* margin: 20px 100px 0 100px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89%;

  box-sizing: border-box;
}
.navbar a {
  color: rgba(241, 241, 241, 1);
}
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  margin-left: 100px;
}

.navbar .nav-links ul {
  display: flex;
}
.navbar .nav-links ul li {
  margin: 0 25px;
}
.navbar .nav-links ul li.active a {
  color: #d65b5b;
  font-weight: 600;
}

.navbar .menu-btnn {
  display: none;
  position: absolute;
  top: 10px;
  right: 35px;
  width: 35px;
}
.mobile-menu {
  margin-left: 0;
}
@media screen and (max-width: 810px) {
  .navbar {
    padding: 0;
  }
  .navbar .logo {
    position: absolute;
    left: 20px;
    top: 0;
  }
  /* .nav-links {
    display: none;
  } */
  .navbar .menu-btnn {
    display: block;
    z-index: 1;

  }
  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    border: 2px solid;

    /* background-color: rgba(255, 255, 255, 0.2); */

    background-color: rgba(14, 107, 138, 0.2);
    border: none;
    backdrop-filter: blur(22px);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -110%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links.mobile-menu {
    margin-left: 0;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

.hero-image .content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly; */
  position: absolute;
  /* margin-top: 20%; */
  top: 60%;
  left: 50%;

  color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.hero-image .social {
  position: absolute;
  top: 40%;
  left: 7%;
  color: white;
}
.hero-image .social div {
  margin-bottom: 50px;
  font-size: 30px;
}
.hero-image .social div a {
  color: #787878;
}
.hero-image .social div a:hover {
  color: #d65b5b;
}
.hero-image .content div {
  margin-bottom: 30px;
}
.hero-image .content h1 {
  color: white;
  font-family: Almarai;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-image .content p {
  font-family: Cairo;
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-image .content button {
  background: linear-gradient(0deg, #272727, #272727),
    linear-gradient(180deg, #d65b5b 20.68%, rgba(255, 158, 44, 0) 203.3%);
  width: 100px;
  height: 69px;
  width: 237px;
  outline: none;
  border: none;
  border-radius: 8px;
  border: 2px solid #d65b5b;
  color: #d65b5b;
  cursor: pointer;
  margin-right: 150px;
}
